<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>indexinn</title>
    
</head>
<body>

    <h1 >Recipe program index</h1>
	You are currently running the recipe program. Please see the project readme for information on possible endpoints and actions.
	<br>

	Assignment 2 consists of the following endpoints:
	<br>

	get all ingredients: <a href="/ingredient/all">/ingredient/all</a>
	<br>

	get ingredient by id: <a href="/ingredient/id/1">/ingredient/id/1</a>

	
	<br>

	<br>
	You can also initialize some ingredients for easier setup: <a href="/ingredient/init">/ingredient/init</a>
	




</body>
</html>