<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>indexinn</title>
    
</head>
<body>

    <h1 >Recipe program index</h1>
	You are currently running the recipe program. Please see the project readme for information on possible endpoints and actions.
	<br>

	You can: 
	<br>

	<a href="/ingredient/all">get all ingredients</a>
	<br>

	<a href="/ingredient/init">initialize ingredients</a>
	<br>

	<a href="/ingredient/id/1">get ingredient with id 1</a>




</body>
</html>